src/main/app/fileconnectortest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <spring:beans>
    		<spring:import resource="classpath:conf/applicationContext.xml"/>    		
	</spring:beans>
	
	<global-property name="processCompleteFlag" value="true" doc:name="Global Property"/>
	
	<file:connector name="input" doc:name="File" recursive="true" > 
    	<service-overrides messageReceiver="fileconnectortest.CustomFileMessageReceiver"/> 
	</file:connector>
	
    <flow name="fileconnectortestFlow" >
        <file:inbound-endpoint path="D:\connectorTest" responseTimeout="10000" doc:name="File"   connector-ref="input"/>
        <custom-transformer returnClass="java.lang.String" encoding="UTF-8" class="fileconnectortest.FileTransformer" doc:name="File Parser"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
